body{
     color: white;
     background: black;
     font-family: "Bona Nova SC", serif;
     margin: 0px;
     margin-bottom: 100px;
}


.chamada{
     background:rgb(1, 1, 99);
     margin-top: 80px;
     margin-bottom: 80px;
     display: flex;
     justify-content: center;
}
header{
     font-size: 35px;
     color: white
     border-bottom; solid 3px black;
     padding; 20px;
}
h1{
     font-size: 40px;
}
.chamada-texto{
     margin-right: 5%;
}
.categoria{
     margin-top: 50px;
     padding-left: 20px;
     padding-right: 20px;

}
 .categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
 .categoria-videos img{
      opacity: 0,5;
      height: 200px;
 }
 .categoria-videos img:hover{
     opacity: 1.0;
     border: 3px solid black;
 }